{% extends "base_generic.html" %}

{% block content %}
<h1>Archivio Autori</h1>
{% if author_list %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Elenco degli Autori</h4>
        <p class="card-text">Selezionare un Autore per visualizzare i libri disponibili</p>
    </div>
    <ul class="list-group list-group-flush">
        {% for autore in author_list %}
        <li class="list-group-item">
            <a href="#">{{ autore.first_name }}, {{ autore.last_name }} </a>
        </li>        
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock content %}